<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229560159684-6vq4gfctar028oukgbtqscf5jgg949m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229560159684-6vq4gfctar028oukgbtqscf5jgg949m3</string>
	<key>API_KEY</key>
	<string>AIzaSyCknrJl7kxsf2_RKZH-h5qBaGI56avf97M</string>
	<key>GCM_SENDER_ID</key>
	<string>229560159684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peppermint100.RunPepperRun</string>
	<key>PROJECT_ID</key>
	<string>runpepperrun-bbbb7</string>
	<key>STORAGE_BUCKET</key>
	<string>runpepperrun-bbbb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229560159684:ios:16210e42f5aa11c08da891</string>
</dict>
</plist>